<h2>使っているユーザー一覧</h2>

<% @users.each do |user| %>
    
    <p>
    <%= user.username %>
    <% if current_user.id == user.id%>
      <%= link_to "ユーザー設定", edit_user_registration_path(user.id) %>

    <% end %>
    </p>

    
<% end %>